[Desktop Entry]
Name=QtRsync
Type=Application
Exec=/usr/bin/qtrsync
Comment=Simple GUI for the rsync tool.
StartupNotify=true
Terminal=false
Categories=Qt;System;

